HOST=
PORT=

# Paths to model files, relative to the project root: ml_inference/
MODELS_DIR=
MODEL_FILE=
LABEL_ENCODER_FILE=

# shared secret for internal server calls only
INTERNAL_API_KEY=

# Debugging mode 1=on, 0=off
DEBUG_MODE=

